@use "sass:color";

@use "../../../node_modules/bootstrap/scss/bootstrap" as * with (
  $primary: #3bb9ca,
  $enable-negative-margins: true,
  $spacers: (
    0: 0,
    1: 0.25rem,
    2: 0.5rem,
    "0-75rem": 0.75rem,
    3: 1rem,
    4: 1.5rem,
    5: 3rem,
    2rem: 2rem
  )
);
$primary-high-contrast: #277b86;
$warning-high-contrast: #805f00;
$success-high-contrast: #29b674;
$danger-high-contrast: #ff6e7d;

$navbar-top-offset: 4.375rem;

@use '../vendor/fontawesome/scss/variables' with (
  $font-path: "/vendor/fontawesome/fonts",
);

@use '../vendor/fontawesome/scss/solid' as fa-solid;
@use '../vendor/fontawesome/scss/regular' as fa-regular;
@use '../vendor/fontawesome/scss/brands' as fa-brands;

@use "svgs";
@use "btn-back" as *;
@use "../snippets/snippets";

:root {
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-right: env(safe-area-inset-right, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-left: env(safe-area-inset-left, 0px);
}

@font-face {
  font-family: "Quicksand";
  font-display: swap;
  src: url("/assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

$custom-btn-variants: (semivisible, tertiary);

$semivisible-normal-light: transparent;
$semivisible-hover-light: rgba(black, 0.11);
$semivisible-active-light: rgba(black, 0.16);
$tertiary-normal-light: #eee;
$tertiary-hover-light: #d9d9d9;
$tertiary-active-light: #cccccc;

$semivisible-normal-dark: transparent;
$semivisible-hover-dark: rgba(white, 0.1);
$semivisible-active-dark: rgba(white, 0.15);
$tertiary-normal-dark: #2b3035;
$tertiary-hover-dark: #393d41;
$tertiary-active-dark: #45484b;

html, body {
  overscroll-behavior-x: none;
}

body {
  --navbar-height: 3.875rem;

  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  overflow: hidden;
  padding-top: calc(var(--navbar-height) + var(--safe-area-top));
  font-weight: 500;
  min-height: 100dvh !important;

  &[data-bs-theme="light"] {
    --btn-semivisible-normal: #{$semivisible-normal-light};
    --btn-semivisible-hover: #{$semivisible-hover-light};
    --btn-semivisible-active: #{$semivisible-active-light};
    --btn-tertiary-normal: #{$tertiary-normal-light};
    --btn-tertiary-hover: #{$tertiary-hover-light};
    --btn-tertiary-active: #{$tertiary-active-light};

    --bs-danger-text-emphasis: #8c000f;

    & .btn-close-invert {
      filter: invert(1);
    }
  }

  &[data-bs-theme="dark"] {
    --btn-tertiary-normal: #{$semivisible-normal-dark};
    --btn-semivisible-hover: #{$semivisible-hover-dark};
    --btn-semivisible-active: #{$semivisible-active-dark};
    --btn-tertiary-normal: #{$tertiary-normal-dark};
    --btn-tertiary-hover: #{$tertiary-hover-dark};
    --btn-tertiary-active: #{$tertiary-active-dark};

    --bs-danger-text-emphasis: #ff727f;

    & .btn-close-invert {
      filter: invert(0);
    }
  }
}

::selection {
  background-color: rgba(var(--bs-primary-rgb), 0.6);
}

#app-scroll {
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - var(--navbar-height) - var(--bottombar-height) - var(--safe-area-top) - var(--safe-area-bottom));
  height: calc(100dvh - var(--navbar-height) - var(--bottombar-height) - var(--safe-area-top) - var(--safe-area-bottom));
}

.navbar.fixed-top {
  padding-top: calc(var(--bs-navbar-padding-y) + var(--safe-area-top));
  padding-right: var(--safe-area-right);
  padding-left: var(--safe-area-left);
}

@include media-breakpoint-down(lg) {
  body {
    --navbar-height: 3.25rem
  }
}

[data-high-contrast="true"] {
  .opacity-50 {
    opacity: 1 !important;
  }
  
  .text-secondary, .text-body-tertiary {
    color: var(--bs-body-color) !important;
  }

  :disabled {
    opacity: 1;
    pointer-events: auto !important;
    cursor: not-allowed;

    &:hover {
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--bs-danger);
        $disabled-stripe-width: .25rem;
        clip-path: polygon(
          0 calc(100% - $disabled-stripe-width), 0 100%, $disabled-stripe-width 100%,
          100% $disabled-stripe-width, 100% 0, calc(100% - $disabled-stripe-width) 0, calc(100% - $disabled-stripe-width) 0
        );
        z-index: -1;
      }
    }
  }

  &[data-bs-theme="light"] {
    --bs-primary: #{$primary-high-contrast};
    --bs-primary-rgb: #{to-rgb($primary-high-contrast)};
    --bs-link-color: $primary-high-contrast;
    --bs-link-color-rgb: #{to-rgb($primary-high-contrast)};
    --bs-link-hover-color-rgb: #{to-rgb(shift-color($primary-high-contrast, 20%))};
  
    .btn-primary {
      @include button-variant($primary-high-contrast, $primary-high-contrast)
    }
  
    .btn-outline-primary {
      @include button-outline-variant($primary-high-contrast)
    }
  
    .form-check-input:checked {
      background-color: #{$primary-high-contrast};
      border-color: #{$primary-high-contrast};
    }

    --bs-warning: #{$warning-high-contrast};
    --bs-warning-rgb: #{to-rgb($warning-high-contrast)};
  }

  &[data-bs-theme="dark"] {
    .btn-outline-secondary {
      @include button-outline-variant(#a1aab3)
    }

    --bs-success: #{$success-high-contrast};
    --bs-success-rgb: #{to-rgb($success-high-contrast)};
  
    .btn-success {
      @include button-variant($success-high-contrast, $success-high-contrast)
    }
  
    .btn-outline-success {
      @include button-outline-variant($success-high-contrast)
    }

    --bs-danger: #{$danger-high-contrast};
    --bs-danger-rgb: #{to-rgb($danger-high-contrast)};
  
    .btn-danger {
      @include button-variant($danger-high-contrast, $danger-high-contrast)
    }
  
    .btn-outline-danger {
      @include button-outline-variant($danger-high-contrast)
    }
  }
}

* {
  scroll-margin-top: $navbar-top-offset;
}

.spinner-border {
  --bs-spinner-width: 1rem;
  --bs-spinner-height: 1rem;
  --bs-spinner-border-width: 0.125rem;
}

.h-fit-content {
  height: fit-content !important;
}

.min-w-0 {
  min-width: 0;
}

.mw-50 {
  min-width: 50% !important;
}

.mw-75 {
  min-width: 75% !important;
}

.cursor-pointer {
  cursor: pointer;
}

$width-values: (
  fit-content: fit-content,
  0: 0%,
  50: 50%,
  100: 100%
);

@each $key, $value in $width-values {
  .w-#{$key} {
    width: $value !important;
  }
}

@each $key, $value in $width-values {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      .w-#{$breakpoint}-#{$key} {
        width: $value !important;
      }
    }
  }
}

$flex-grow-values: (
  1: 1
);

@each $key, $value in $flex-grow-values {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      .flex-grow-#{$breakpoint}-#{$key} {
        flex-grow: $value !important;
      }
    }
  }

  .flex-grow-#{$key} {
    flex-grow: $value !important;
  }
}

$unimportant-display-values: (
  none: none,
  flex: flex,
  block: block
);

@each $key, $value in $unimportant-display-values {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      .ds-#{$breakpoint}-#{$key} {
        display: $value;
      }
    }
  }

  .ds-#{$key} {
    display: $value;
  }
}

.badge-tertiary {
  background-color: var(--btn-tertiary-normal);
  color: var(--btn-color) !important;
}

.border-dashed {
  border-style: dashed;
}

.text-body-bg {
  color: var(--bs-body-bg) !important;
}

.word-wrap-break {
  word-wrap: break-word
}

.word-wrap-anywhere {
  word-wrap: anywhere;
}

@include media-breakpoint-down(sm) {
  .offcanvas.offcanvas-start {
    width: 100%;
    border-right: none;
  }
}

.toast-progress-bar {
  position: relative;
  height: 0.25rem;
  border-top-left-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width));
  border-top-right-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width));
  overflow: hidden;
  --toast-progress-duration: 5000ms;
  --toast-resume-delay: 1000ms;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(var(--bs-body-color-rgb), 0.35);
    transform: translateX(0%);
    animation: toast-progress 5s linear forwards;
    animation-play-state: paused;
  }

  &.playing::before {
    animation-play-state: running;
  }

  & ~ .toast-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@keyframes toast-progress {
  from { transform: translateX(0%); }
  to   { transform: translateX(-100%); }
}

.dropdown-menu {
  --bs-dropdown-padding-x: 0.25rem;
  --bs-dropdown-padding-y: 0.25rem;
}

.dropdown-item {
  font-weight: 500;
  --bs-dropdown-item-border-radius: 0.25rem;
  --bs-dropdown-link-active-color: var(--bs-body-color);
  --bs-dropdown-link-hover-bg: rgba(var(--bs-primary-rgb), 0.2);
  --bs-dropdown-link-active-bg: rgba(var(--bs-primary-rgb), 0.3);
}

.dropdown-item-danger {
  color: var(--bs-danger-text-emphasis);
  --bs-dropdown-link-hover-bg: rgba(var(--bs-danger-rgb), 0.2);
  --bs-dropdown-link-hover-color: var(--bs-danger-text-emphasis);
  --bs-dropdown-link-active-bg: rgba(var(--bs-danger-rgb), 0.3);
  --bs-dropdown-link-active-color: var(--bs-danger-text-emphasis);
}

.dropdown-divider {
  margin: 0.25rem -0.25rem;
}

@each $variant in $custom-btn-variants {
  .btn-#{$variant} {
    @include button-variant(white, $primary);
    border: none;
    background-color: var(--btn-#{$variant}-normal);
    color: var(--btn-color) !important;

    &:hover {
      background-color: var(--btn-#{$variant}-hover) !important;
    }

    &:active {
      background-color: var(--btn-#{$variant}-active) !important;
    }

    &.active {
      background-color: var(--btn-#{$variant}-normal);
    }

    &.show {
      background-color: var(--btn-#{$variant}-normal);
    }

    &:focus {
      background-color: var(--btn-#{$variant}-normal);
    }

    &:focus-visible {
      background-color: var(--btn-#{$variant}-hover);
    }

    &:disabled {
      background-color: transparent;
    }
  }
}

.btn-group > .btn:nth-child(n+3), .btn-group > :not(.btn-check) + .btn, .btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn.dropdown-toggle-split:first-child, .btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

[data-variant] {
  --variant-bg-transparent: color-mix(in oklab, var(--variant-color) 40%, transparent);
  --variant-color-darker: color-mix(in oklab, var(--variant-color), black 30%);
  --variant-color-darker: hsl(from var(--variant-color) h s calc(l - 30));
  --variant-color-lighter: color-mix(in oklab, var(--variant-color), white 50%);
  --variant-color-lighter: hsl(from var(--variant-color) h s calc(l + 20));
  --variant-color-more-darker: color-mix(in oklab, var(--variant-color), black 60%);
  --variant-color-more-lighter: color-mix(in oklab, var(--variant-color), white 80%);
  --variant-bg-select: color-mix(in oklab, var(--variant-color) 60%, transparent);

  &.card {
    border-color: var(--variant-color);
    background-color: var(--variant-bg-transparent);
  }

  .days-overview-day & {
    background-color: var(--variant-color);
  }

  &:is(span, a, i) {
    color: var(--variant-color-darker);
  }

  &.color-display {
    background-color: var(--variant-color);
  }

  &.dropdown-item {
    --bs-dropdown-link-hover-bg: color-mix(in oklab, var(--variant-color) 10%, transparent);
    --bs-dropdown-link-active-bg: color-mix(in oklab, var(--variant-color) 30%, transparent);
  }

  :not([data-high-contrast="true"]) & {
    &::selection, & ::selection {
      background-color: var(--variant-bg-select);
    }
  }

  [data-bs-theme="dark"] & {
    &:is(span, a, i) {
      color: var(--variant-color-lighter);
    }
  }

  [data-high-contrast="true"] & {
    &:is(span, a, i) {
      color: var(--variant-color-more-darker);
    }
  }

  [data-high-contrast="true"][data-bs-theme="dark"] & {
    &:is(span, a, i) {
      color: var(--variant-color-more-lighter);
    }
  }
}

.autocompleted-feedback, .suspicious-feedback {
  display: none;
  margin-top: 0.25rem;
  font-size: 0.875em;
}

.autocompleted-feedback {
  color: var(--bs-primary);
}

.suspicious-feedback {
  color: var(--bs-warning);
}

.form-control, .form-select, .rich-textarea-input {
  &.is-autocompleted, &.is-suspicious, &.is-invalid, .is-autocompleted &, .is-suspicious &, .is-invalid & {
    padding-right: calc(1.5em + 0.75rem);

    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }

  &.is-autocompleted, .is-autocompleted & {
    border-color: $input-focus-border-color !important;
    background-color: color-mix(in oklab, $primary, var(--bs-body-bg) 90%);

    background-image: svgs.make-sparkling-wand(to-rgb($primary));
    --bs-form-select-bg-icon: #{svgs.make-sparkling-wand(to-rgb($primary))};
    [data-high-contrast="true"][data-bs-theme="light"] & {
      background-image: svgs.make-sparkling-wand(to-rgb($primary-high-contrast));
      --bs-form-select-bg-icon: #{svgs.make-sparkling-wand(to-rgb($primary-high-contrast))};
    }

    & ~ .autocompleted-feedback {
      display: block;
    }
  }

  &.is-suspicious, .is-suspicious & {
    border-color: $warning !important;
    background-color: color-mix(in oklab, $warning, var(--bs-body-bg) 90%);

    background-image: svgs.make-circle-question(to-rgb($warning));
    --bs-form-select-bg-icon: #{svgs.make-circle-question(to-rgb($warning))};
    [data-high-contrast="true"][data-bs-theme="light"] & {
      background-image: svgs.make-circle-question(to-rgb($warning-high-contrast));
      --bs-form-select-bg-icon: #{svgs.make-circle-question(to-rgb($warning-high-contrast))};
    }
    
    &:focus {
      box-shadow: 0 0 0 .25rem rgba(var(--bs-warning-rgb), 0.25);
    }

    & ~ .suspicious-feedback {
      display: block;
    }
  }

  &.is-invalid, .is-invalid & {
    border-color: $danger !important;
    background-color: color-mix(in oklab, $danger, var(--bs-body-bg) 90%);

    background-image: svgs.make-circle-exclamation(to-rgb($danger));
    --bs-form-select-bg-icon: #{svgs.make-circle-exclamation(to-rgb($danger))};
    [data-high-contrast="true"][data-bs-theme="dark"] & {
      background-image: svgs.make-circle-exclamation(to-rgb($danger-high-contrast));
      --bs-form-select-bg-icon: #{svgs.make-circle-exclamation(to-rgb($danger-high-contrast))};
    }
    
    &:focus {
      box-shadow: 0 0 0 .25rem rgba(var(--bs-danger-rgb), 0.25);
    }
  }
}

.form-select {
  &.is-autocompleted, &.is-suspicious, &.is-invalid {
    padding-right: 4.125rem;
    background-position: center right 2.25rem, right .75rem center;
    background-size: 16px 12px, calc(.75em + .375rem) calc(.75em + .375rem);
    background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon, none);
  }
}

#unavailable-hint {
  --fa-animation-duration: 0.5s;
}

#unavailable-popup {
  position: absolute;
  padding: 0.5rem;
  background: var(--bs-body-bg);
  border: 1px solid var(--bs-danger);
  border-radius: var(--bs-border-radius);
  box-shadow: var(--bs-box-shadow);
  top: 100%;
  right: 0.75rem;
  width: 16rem;
  max-height: calc(100vh - 7.25rem);
  overflow: auto;
}

#unavailable-queue-circle {
  transform: translate(0, 0);
  background-color: var(--bs-danger);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.btn-primary {
  color: var(--bs-body-bg) !important;
}

.btn-check:checked + .btn.btn-outline-primary {
  color: var(--bs-body-bg) !important;
  background-color: var(--bs-primary);
}

.btn-check.btn-check-subtle:checked + .btn.btn-outline-primary {
  color: var(--bs-primary) !important;
  background-color: color-mix(in oklab, $primary, var(--bs-body-bg) 75%);

  [data-high-contrast="true"] & {
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-primary);
  }
}

.btn-sm-square {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@each $name, $color in $colors {
  .line-through-#{$name} {
    text-decoration-line: line-through;
    text-decoration-color: $color;
    text-decoration-thickness: 0.25em;
  }
  .text-#{$name} {
    color: $color;
  }
}

.nav-tabs .nav-link.active {
  color: var(--bs-primary);
}

.nav-tabs .nav-link {
  color: var(--bsnav-link-color);
}

.fa-stack-normal {
  height: 1em;
  width: 1.25em;
  line-height: 1em;
}

.link-subtle {
  color: #cccccc;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: #ffffff;
  }
}

footer a {
  @extend .link-subtle;
}

.filter-info-circle {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  padding: 0.4rem;
  background-color: var(--bs-primary);
  border: 1px solid var(--bs-body-bg);
  border-radius: 50%;
}

.offcanvas-body-grow-75 {
  max-height: calc(75vh - 4rem);
}

@function get-circle-pos($id, $axis, $radius) {
  @if ($axis == x) {
    @return cos(45deg * $id) * $radius + .3125rem;
  }
  @else {
    @return sin(45deg * $id) * $radius + .3125rem;
  }
}

.homework-check-wrapper {
  width: 1rem;
  height: 1rem;
  position: relative;
  & input.homework-check {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  & div {
    visibility: visible;
    position: absolute;
    width: .375rem;
    height: .375rem;
    border-radius: 100%;
    background-color: var(--bs-primary);
    opacity: 0;
  }
  @for $id from 0 through 7 {
    & div[data-id="#{$id}"] {
      --id: #{$id};
      animation: checkAnimation-#{$id} 0.4s ease normal;

      @keyframes checkAnimation-#{$id} {
        0% {
          left: get-circle-pos($id, x, .5rem);
          top:  get-circle-pos($id, y, .5rem);
        }
        50% {
          opacity: 1;
        }
        100% {
          left: get-circle-pos($id, x, 1.25rem);
          top:  get-circle-pos($id, y, 1.25rem);
          opacity: 0;
        }
      }
    }
  }
}

.color-display {
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem -0.1rem 0.25rem;
  margin-bottom: -0.1rem;
  display: inline-block;
  border-radius: var(--bs-border-radius);
}

// Styles exclusively for iOS devices
@supports (-webkit-touch-callout: none) {
  b, strong, .fw-semibold, .fw-bold, *[style*="font-weight: 700"] {
    letter-spacing: calc(-0.5em / 16);
  }

  @media (hover: none) and (pointer: coarse) {
    .form-control-sm, .form-select-sm {
      font-size: 1rem !important;
    }
  }
}

.scroll-fade {
  --mask: linear-gradient(
    to bottom,
    black calc(100% - var(--fade-progress)),
    transparent 100%
  );
  
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
}
